<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/BigData.css" rel="stylesheet" type="text/css" />
    <link href="css/index1.css" rel="stylesheet" type="text/css" />
    <link href="css/index01.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.js"></script>
    <link href="js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css" />
    <link href="css/Security_operation.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="js/artDialog/skins/default.css" type="text/css"/>
    <script src="js/laydate.js"></script>
    <script src="js/Home_page.js"></script>
    <meta charset="UTF-8">
    <title>大数据管理平台</title>

</head>
<body >
<div class="data_bodey">
    <div class="index_nav" >
        <ul style="height: 30px; margin-bottom: 0px;">
            <li class="l_left total_chose_fr nav_active">实时监测</li>
            <li class="l_left total_chose_pl" >统计分析一</li>
            <li class="l_left total_chose_pl">统计分析二</li>
            <li class="r_right total_chose_pl">统计分析三</li>
            <li class="r_right total_chose_pl">统计分析四</li>
            <li class="r_right total_chose_pl">统计分析五</li>
        </ul>
        <div class="total_chose_box" >
            <div style="height: 32px;"></div>
            <span class="chose_tltle">请选择年份：</span>
            <select class="year_chose">
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
            </select>
            <span class="chose_tltle">请输入月份：</span>
            <input class="chose_text_in">
            <span class="chose_tltle">请选择区域：</span>
            <select class="year_chose">
                <option> 北京市</option>
                <option>自贡市</option>
                <option>攀枝花市</option>
                <option>泸州市</option>
                <option>德阳市</option>
                <option>绵阳市</option>
                <option>广元市</option>
                <option>遂宁市</option>
                <option>内江市</option>
                <option>乐山市</option>
                <option>南充市</option>
                <option>宜宾市</option>
                <option>广安市</option>
                <option>达州市</option>
                <option>巴中市</option>
                <option>雅安市</option>
                <option>眉山市</option>
                <option>资阳市</option>
                <option>阿坝州</option>
                <option>甘孜州</option>
                <option>凉山州</option>
            </select>
            <button class="chose_enter">确定</button>
        </div>
        <div class="clear"></div>
    </div>
<!--共用整个div-->

<!--第二页面部分（统计分析一）-->
        <div class="inner" style="height: 109%;" >
            <div class="data_left01">
                <div class="dataAll maginS">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxx分析</div>
                            <div class="data_chart" id="buyTime"></div>
                        </div>
                    </div>
                </div>
                <div class="dataAll">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxx类型分析</div>
                            <p class="data_chart" id="Package01"></p>
                        </div>
                    </div>
                </div>
                <div class="dataAll">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxx分析</div>
                            <p class="data_chart" id="rode01"></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="data_left01">
                <div class="dataAll maginS">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxxx分析</div>
                            <p class="data_chart" id="bookAret"></p>
                        </div>
                    </div>
                </div>
                <div class="dataAll">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxxxx分析</div>
                            <p class="data_chart" id="bookBmonth"></p>
                        </div>
                    </div>
                </div>
                <div class="dataAll">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxxxx分析</div>
                            <p class="data_chart" id="whearAbook"></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="data_left02">
                <div class="dataAll01">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit2">数据汇总</div>

                            <table class="table_data01" >
                                <tr><td>总数</td><td colspan="3" class="font01">56320</td></tr>
                                <tr><td>xxxxxx数</td><td colspan="3" class="font02">56320</td></tr>
                                <tr>
                                    <td>xxxxx数：</td>
                                    <td>10个</td>
                                    <td>类型数：</td>
                                    <td>6个</td>
                                </tr>
                                <tr>
                                    <td>xxxx最多数：</td>
                                    <td>16-20点</td>
                                    <td>xxxxx最多月：</td>
                                    <td>12月</td>
                                </tr>
                                <tr>
                                    <td>xxxxx最多季节：</td>
                                    <td>xxxx</td>
                                    <td>xxxxx天气：</td>
                                    <td>晴天</td>
                                </tr>
                                <tr>
                                    <td>xxxxxx：</td>
                                    <td>套餐A</td>
                                    <td>xxxxxx：</td>
                                    <td>活动</td>
                                </tr>
                                <tr>
                                    <td>xxxxxx：</td>
                                    <td>交通畅通</td>
                                    <td>xxxxx特殊时间：</td>
                                    <td>国庆节</td>
                                </tr>
                                <tr>
                                    <td>xxxxx：</td>
                                    <td colspan="3" style="color: red">xxxxxB</td>

                                </tr>
                                <tr>
                                    <td>xxxxx多季节：</td>
                                    <td colspan="3" style="color: red">冬季</td>

                                </tr>

                            </table>

                        </div>
                    </div>
                </div>
                <div class="dataAll02">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxx分析</div>
                            <p class="data_chart" id="rodeAbook"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data_left01">
                <div class="dataAll maginS">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxx分析</div>
                            <p class="data_chart" id="seaAbook01"></p>
                        </div>
                    </div>
                </div>
                <div class="dataAll">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxx订单分析</div>
                            <p class="data_chart" id="actionBook"></p>
                        </div>
                    </div>
                </div>
                <div class="dataAll">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit1">xxxxxx分析</div>
                            <p class="data_chart" id="sperceBook01"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="js/echarts-all.js"></script>
<script src="js/index.js"></script>
<script src="js/bstable/js/bootstrap.min.js"></script>
<script src="js/bstable/js/bootstrap-table.js"></script>
<script type="text/javascript" src="js/jquery.pagination.js"></script>
<script src="js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="js/artDialog/artDialog.js"></script>
</body>
</html>



























