<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
    <script src="js/jquery-2.2.1.min.js"></script>
</head>
<script type="text/javascript">
    $.ajax({
        url:"https://restapi.amap.com/v3/direction/driving",
        type:'get',
        dateType:'json',
        data:{
            origin:'118.33940613596579,32.26127087204081',
            destination:'118.80242172124585,32.06465288561847',
            strategy:0,
            key:'db1662e575cbc4ebab86cd69b903b75f'
        },
        success:function(data){
            alert("成功");
            alert(data);
        },
        error:function (e) {
            alert("错误");
        }
    });

</script>
<body>

</body>
</html>